pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
streamlit
sqlalchemy
requests
joblib
streamlit-option-menu
openpyxl
google-generativeai
dotenv
langgraph
langchain-community
langchain-google-genai
cryptography
pymysql